[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 120

[{.babelrc, .prettierrc, .stylelintrc, .eslintrc, jest.config, .jsb3, .jsb2, *.bowerrc}]
indent_size = 2

[*.blade.*]
tab_width = 2
indent_size = 2
max_line_length = 140

[*.html]
tab_width = 4

[*.vue]
max_line_length = 140
tab_width = 4
indent_size = tab

[*.js]
tab_width = 4
indent_size = tab

[*.ts]
tab_width = 4

[{*.less, *.scss, *.json, *.js.map, *.css}]
indent_size = 2
max_line_length = 80
tab_width = 2
